[submodule "vendor/plugins/more"]
	path = vendor/plugins/more
	url = git://github.com/cloudhead/more.git
[submodule "vendor/plugins/dynamic_form"]
	path = vendor/plugins/dynamic_form
	url = git://github.com/rails/dynamic_form.git
