<table class="items jobs" id="jobs">
  <thead>
    <tr class="odd">
      <th>Job ID</th>
      <th>Input File</th>
      <th>Input duration</th>
      <th>Input size</th>
      <th>Submitted</th>
      <th>Preset</th>
      <th>Host</th>
      <th>Status</th>
			<th>After</th>
    </tr>
  </thead>
  
  <tbody id="item_list">
    <%= render @jobs %>
  </tbody>
  
</table>
