<table class="items">
	<tr class="odd">
		<th>Type</th>
		<th>Value</th>
		<th>Deliveries</th>
	</tr>

	<% for notification in @job.notifications %>

		<tr>
			<td><%= notification.name %></td>
			<td><%= auto_link(notification.value).html_safe %></td>
			<td>
			  <%= render "deliveries", :notification => notification if notification.deliveries %>
			</td>
		</tr>

	<% end %>

</table>
