<% title 'Jobs' %>

<%= render "shared/history" %>

<%= render "jobs" %>

<%= will_paginate @jobs %>

<div class="form-actions">
  <%= link_to 'New job', new_job_path, :class => 'btn btn-primary' %>
</div>
