header,section { display:block; }
header nav {
  display: block;
  clear: both;
  background-color: #333333;
}
header nav ol {
  max-width: 960px;
  margin: 0 auto;
  height: 3em;
  padding: 0 1em;
}
header nav ol li {
  float: left;
  padding: 8px 10px;
  color: white;
  font-weight: bold;
}
header nav ol li a {
  color: white;
  font-weight: bold;
}
header nav ol li:first-child { padding-left: 0; }
section#content {
  margin: 0 auto;
  max-width: 960px;
  border: 2px solid #cccccc;
  border-top: 0;
  padding: 1em;
}
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Helvetica Neue', Helvetica, Arial, clean, sans-serif;
  font-size: 12px;
  line-height: 18px;
}
ol, ul { list-style: none; }
pre { white-space: normal; }
h1 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 1em;
}
h2 {
  margin: 0.5em 0;
  font-size: 16px;
  font-weight: bold;
}
h2.inline {
  display: inline;
  margin-right: 0.5em;
}
table.items {
  margin: 0.5em 0;
  margin-bottom: 1em;
  width: 100%;
  border-collapse: collapse;
}
table.items tr td {
  padding: 0.25em 0.5em;
  border: 1px solid #cccccc;
  text-align: left;
}
table.items tr th {
  padding: 0.25em 0.5em;
  border: 1px solid #cccccc;
  text-align: left;
}
table.items tr.odd { background-color: #f6f6f6; }
table.items tr.even { background-color: #ffffff; }
table.items thead tr th { font-weight: bold; }
table.items tr td.progress div.bar {
	width:200px;
	overflow:hidden;
	height:15px;
	border:1px solid #CCC;
	background-color:#DDD;
}
table.items tr td.progress div.bar div.progress {
  background-color:#315863;
  height:100%;
}
video { 
	display:block;
	margin-bottom: 0.5em; 
}
pre { margin: 0; }

form {
  margin: 1em 0;
  padding: 1em;
  border: 2px solid #cccccc;
}
form fieldset {
  border: 0;
  margin: 1em 0;
  padding: 1em;
  font-size: 14px;
}
form fieldset legend { font-weight: bold; }
form fieldset li { margin: 0.5em 0; }
form fieldset li label {
  display: block;
  width: 20%;
  float: left;
}
form fieldset li input { width: 70%; }
form fieldset li textarea { width: 70%; }

div#history {
  clear: both;
  width: 100%;
  margin: 1em 0;
}
div#history ol.nav {
  float: right;
  position: relative;
  margin-top: -26px;
}
div#history ol.nav li {
  border-top: 2px solid #cccccc;
  border-right: 2px solid #cccccc;
  float: left;
  padding: 0.25em 0.5em;
  font-weight: bold;
}
div#history ol.nav li a {
  text-decoration: none;
  color: black;
}
div#history ol.nav li a:hover { text-decoration: underline; }
div#history ol.nav li:first-child { border-left: 2px solid #cccccc; }
div#history ol.nav li.selected {
  border-color: #315863;
  background-color: #315863;
  color: white;
}
div#history table {
  width: 100%;
  border: 2px solid #cccccc;
  border-collapse: collapse;
  font-size: 13px;
}
div#history table td {
  text-align: left;
  padding: 0 1em;
  font-weight: bold;
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
}
div#history table th {
  text-align: left;
  padding: 0 1em;
  font-weight: bold;
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
}
div#history table th {
  color: #aaaaaa;
  padding-top: 0.5em;
  text-transform: uppercase;
}
div#history table th a {
  color: #aaaaaa;
  text-decoration: none;
}
div#history table td {
  padding-bottom: 0.5em;
  color: black;
  font-size: 15px;
  color: #315863;
}
div#history table td.success { color: green; }
div#history table td.failed { color: red; }

ol.presets li {
  margin: 1em 0;
  border: 2px solid #cccccc;
  padding: 1em;
  width: 45%;
}
ol.presets li.left { float: left; }
ol.presets li.right { float: right; }
