table.jobs tbody tr td.id { width: 40px; }
table.jobs tbody tr td.duration { width: 80px; }
table.jobs tbody tr td.size { width: 70px; }
table.jobs tbody tr td.submitted { width: 120px; }
table.jobs tbody tr td.host { width: 80px; }
table.jobs tbody tr td.progress { width: 200px; }
table.jobs tbody tr td.progress span.percentage { font-weight: bold; }
table.jobs tbody tr td.progress div.bar {
  width: 200px;
  overflow: hidden;
  height: 15px;
  border: 1px solid #cccccc;
  background-color: #dddddd;
}
table.jobs tbody tr td.progress div.bar div.progress {
  background-color: #315863;
  height: 100%;
}
