header nav {
	display:block;
	clear:both;
	background-color:#333;
}

header nav ol {
	max-width:960px;
	margin:0 auto;
	height:3em;
	padding:0 1em;
}

header nav ol li {
	float:left;
	padding:8px 10px;
	color:white;
	font-weight:bold;
}

header nav ol li a {
	color:white;
	font-weight:bold;
}

header nav ol li:first-child {
	padding-left:0;
}

section#content {
	margin:0 auto;
	max-width:960px;
	border:2px solid #CCC;
	border-top:0;
	padding:1em;
}
