<% if f.object.errors.any? %>  
	<div class="alert alert-error alert-block">
	  <h4 class="alert-heading">
	    <%= pluralize(f.object.errors.count, t('errors.word')) %>
	    <%= t('errors.body') %>
	  </h4>

	  <ul>
	  <% f.object.errors.full_messages.each do |msg| %>  
	    <li><%= msg %></li>  
	  <% end %>  
	  </ul>  
	</div>  
<% end %>
