common: &common
  adapter: mysql2
  encoding: utf8
  reconnect: false
  pool: 5
  host: localhost
  username: root
  password:

development:
  <<: *common
  database: codem_schedule_development

test: &test
  <<: *common
  database: codem_schedule_test

production:
  <<: *common
  database: codem_schedule_production
    
