<%= content_tag :section, options do %>
  <div class="col-md-12">

    <section class="module">
      <div class="module-head">
        <b><%= title %></b>
      </div>

      <div class="module-body">
        <%= contents %>
      </div>
    </section>

  </div>
<% end %>

