<nav>
  <ol>
    <li><%= link_to_unless_current 'Dashboard', root_url %></li>
    <li><%= link_to_unless_current 'Jobs', jobs_path %></li>
    <li><%= link_to_unless_current 'Hosts', hosts_path %></li>
    <li><%= link_to_unless_current 'Presets', presets_path %></li>
  </ol>
</nav>

